body {
    font-family: 'Merriweather', serif;
    width: 80%;
    margin: 0 auto;
}

.header {
    background-image: url("../resources/Banner\ Image.png");

    height: 600px;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 177px;
    margin-bottom: 16px;

}

.header-title-two {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    /* line-height: 95px; */
}

.title-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 45px;

}

.title-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.title-main {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.title-photo {
    text-align: center;
}

.resume-content {
    background-image: url("../resources/Vectorrr.png");
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    margin-top: 60px;


}


.resume-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.resume-description {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;

    font-weight: 700;
    background-color: #070211;
    text-transform: uppercase;
    border: 0;
}

.section-description {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

     margin-bottom: 120px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
    


    width: 80%;
    margin-top: 120px;
    padding: 120px;


}

.red {
    color: #F00;
}

.btn-secondary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: 1px solid #F00;
    padding: 16px 32px;
    border-top: 50px;
}

.resume-again {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-again-title {
    color: #F00;


    font-family: Inter;
    font-size: 24px;

    font-weight: 500;
}

.resume-again-sub-title {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;

    text-transform: capitalize;

}

.resume-again-description {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.second-photo-main {
    border-radius: 364px;
    background-color: #FFF;
    /* border: 10px;
    border-radius: 100%; */
}

.second-photo {
    border-radius: 100%;
    border: 25px solid #FFF;
}

.second-photo-border {
    border: 15px solid #F00;
    border-radius: 100%;
}

#year {
    color: #F00;

    font-family: Inter;
    font-size: 48px;

    font-weight: 700;


}

#year-description {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
}

#happy {
    width: 140px;
    height: 140px;
}
.together{
    display: flex;
}
.again-header{
  
    color: #070211;
    
    font-family: Inter;
    font-size: 24px;
    
    font-weight: 500;
    
}
.second-again-header{
    color: #070211;
    
    font-size: 72px;
  
    font-weight: 900;
    
    
}
.d-flex{
    display: flex;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.subscribe{
   text-align: center;
   padding-top: 80px;
}
.btn-subscribe{
    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    /* width: 648px;
height: 72px; */
    
}
.subscribe-section{
    width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
/* margin: 120px;
margin: 0 auto; */


}
.btn-third{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;

font-weight: 600;

text-transform: capitalize;
border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
}
.subscribe-title{
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.subscribe-description{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}
.foot{
    display: flex;
    gap: 300px;
    background-color: #070211;
    /* color: #FFF;

font-family: Inter;
font-size: 24px;

font-weight: 500;
line-height: 40px;  */
}
.foot-description-1{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    
    font-weight: 500;
    line-height: 40px;
   
}